{% load static %}

<main id="mainForm2" style="display: none">
    <!-- Call to Action -->
    <div class="bg-corona g-py-100">
        <div class="g-max-width-645 text-center mx-auto">

            <h1 class="g-color-white g-font-weight-600" data-i18n="covid-screening-title"></h1>

        </div>
    </div>
    <!-- End Call to Action -->
    <!-- Login - Heading -->
    <div class="g-max-width-645 text-center g-pt-100 mx-auto g-mb-80">
        <h3 class="mb-4 text-muted" data-i18n="covid-screening-form-name">loading...</h3>
        <h5 class="text-muted" data-i18n="covid-screening-form-description">loading...</h5>
    </div>
    <!-- End Login - Heading -->

    <!-- Login -->
    <div class="container g-pb-30">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 g-mb-70">


                <!-- Login Form -->
                <form class="g-mb-30" action="/your-name/" method="post" id="fmEditor2"
                      onsubmit2="return submitScreenForm();">
                    {% csrf_token %}
                    <input type="hidden" name="SiteMode" value="{{ SiteMode }}"/>

                    <div class="g-mb-20" id="q2">
                        <h4 class="h5 g-font-weight-700 g-mb-20" data-i18n="covid-screening-1-i">loading...</h4>
                        <h4 class="h6 g-font-weight-700 g-mb-20 text-muted" data-i18n="covid-screening-1-ii">
                            loading...</h4>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q2_yes"><input type="radio" name="q2" value="Yes"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q2_yes">
                                <span data-i18n="somos-yes">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q2_no"><input type="radio" name="q2" value="No"
                                                      class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q2_no">
                                <span data-i18n="somos-no">loading...</span></label>
                        </label>

                    </div>

                    <div class="g-mb-20" id="q3">
                        <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-2-i">loading...</span>
                        </h4>
                        <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span
                                data-i18n="covid-screening-2-ii">loading...</span></h4>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q3_yes"><input type="radio" name="q3" value="Yes"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q3_yes">
                                <span data-i18n="somos-yes">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q3_no"><input type="radio" name="q3" value="No"
                                                      class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q3_no">
                                <span data-i18n="somos-no">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q3_no"><input type="radio" name="q3" value="Unknown"
                                                      class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q3_unknown">
                                <span data-i18n="somos-unknown">loading...</span></label>
                        </label>
                    </div>


                    <div class="g-mb-20" id="q5">
                        <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-3-i">loading...</span>
                        </h4>
                        <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span
                                data-i18n="covid-screening-3-iii">loading...</span></h4>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q5_yes"><input type="radio" name="q5" value="Yes"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q5_yes">
                                <span data-i18n="somos-yes">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q5_no"><input type="radio" name="q5" value="No"
                                                      class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q5_no">
                                <span data-i18n="somos-no">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q5_unknown"><input type="radio" name="q5" value="Unknown"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q5_unknown">
                                <span data-i18n="somos-unknown">loading...</span></label>
                        </label>
                    </div>

                    {#          child              #}
                    <div class="child-questions hide" id="q6">
                        <div class="g-mb-20 ">
                            <h4 class="h6 g-font-weight-700 g-mb-20" data-i18n="covid-screening-3-ii">
                                loading...</h4>
                            <div class="form-group g-mb-30">
                                <div class="input-group g-brd-primary" style="width: 200px">
                                    <input type="text" name="q6"
                                           class="form-control form-control-md u-datepicker-v1 g-brd-right-none rounded-0"
                                           id="q6_date" placeholder="Select Date" maxlength="100">
                                    <div class="input-group-append">
                                    <span class="input-group-text rounded-0 g-color-gray-dark-v5"><i
                                            class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#          child              #}

                    <div class="g-mb-20" id="q7">
                        <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-4-i">loading...</span>
                        </h4>
                        <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span
                                data-i18n="covid-screening-4-iii">loading...</span></h4>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q7_yes"><input type="radio" name="q7" value="Yes"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q7_yes">
                                <span data-i18n="somos-yes">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q7_no"><input type="radio" name="q7" value="No"
                                                      class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q7_no">
                                <span data-i18n="somos-no">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q7_unknown"><input type="radio" name="q7" value="Unknown"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q7_unknown">
                                <span data-i18n="somos-unknown">loading...</span></label>
                        </label>
                    </div>

                    {#          child              #}
                    <div class="child-questions hide" id="q4">
                        <div class="g-mb-20 ">
                            <h4 class="h6 g-font-weight-700 g-mb-20" data-i18n="covid-screening-4-ii">
                                loading...</h4>
                            <div class="form-group g-mb-30">
                                <div class="input-group g-brd-primary" style="width: 200px">
                                    <input type="text" name="q4"
                                           class="form-control form-control-md u-datepicker-v1 g-brd-right-none rounded-0"
                                           id="q4_date" placeholder="Select Date" maxlength="100">
                                    <div class="input-group-append">
                                    <span class="input-group-text rounded-0 g-color-gray-dark-v5"><i
                                            class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#          child              #}

                    <div class="g-mb-20" id="q8">
                        <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-5a-i">loading...</span>
                        </h4>
                        <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span
                                data-i18n="covid-screening-5a-ii">loading...</span></h4>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q8_yes"><input type="radio" name="q8" value="Yes"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q8_yes">
                                <span data-i18n="somos-yes">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q8_no"><input type="radio" name="q8" value="No"
                                                      class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q8_no">
                                <span data-i18n="somos-no">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q8_unknown"><input type="radio" name="q8" value="Unknown"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q8_unknown">
                                <span data-i18n="somos-unknown">loading...</span></label>
                        </label>
                    </div>

                    <div class="g-mb-20" id="q9">
                        <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-5b-i">loading...</span>
                        </h4>
                        <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span
                                data-i18n="covid-screening-5b-ii">loading...</span></h4>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q9_yes"><input type="radio" name="q9" value="Yes"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q9_yes">
                                <span data-i18n="somos-yes">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q9_no"><input type="radio" name="q9" value="No"
                                                      class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q9_no">
                                <span data-i18n="somos-no">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q9_unknown"><input type="radio" name="q9" value="Unknown"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q9_unknown">
                                <span data-i18n="somos-unknown">loading...</span></label>
                        </label>
                    </div>

                    <div class="g-mb-20" id="q10">
                        <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-6-i">loading...</span>
                        </h4>
                        <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span
                                data-i18n="covid-screening-6-ii">loading...</span></h4>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q10_yes"><input type="radio" name="q10" value="Yes"
                                                        class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q10_yes">
                                <span data-i18n="somos-yes">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q10_no"><input type="radio" name="q10" value="No"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q10_no">
                                <span data-i18n="somos-no">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q10_unknown"><input type="radio" name="q10" value="Unknown"
                                                            class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q10_unknown">
                                <span data-i18n="somos-unknown">loading...</span></label>
                        </label>
                    </div>

                    <div class="g-mb-20" id="q11">
                        <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-7-i">loading...</span>
                        </h4>
                        <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span
                                data-i18n="covid-screening-7-ii">loading...</span></h4>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q11_yes"><input type="radio" name="q11" value="Yes"
                                                        class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q11_yes">
                                <span data-i18n="somos-yes">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q11_no"><input type="radio" name="q11" value="No"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q11_no">
                                <span data-i18n="somos-no">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q11_unknown"><input type="radio" name="q11" value="Unknown"
                                                            class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q11_unknown">
                                <span data-i18n="somos-unknown">loading...</span></label>
                        </label>
                    </div>

                    <div class="g-mb-20" id="q12">
                        <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-8a-i">loading...</span>
                        </h4>
                        {#                            <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span#}
                        {#                                    data-i18n="covid-screening-8a-ii">loading...</span></h4>#}
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q12_yes"><input type="radio" name="q12" value="Yes"
                                                        class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q12_yes">
                                <span data-i18n="somos-yes">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q12_no"><input type="radio" name="q12" value="No"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q12_no">
                                <span data-i18n="somos-no">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q12_unknown"><input type="radio" name="q12" value="Unknown"
                                                            class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q12_unknown">
                                <span data-i18n="somos-unknown">loading...</span></label>
                        </label>
                    </div>

                    <div class="child-questions hide" id="q13">
                        <div class="g-mb-20">
                            <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                    data-i18n="covid-screening-8b-i">loading...</span>
                            </h4>
                            <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span
                                    data-i18n="covid-screening-8b-ii">loading...</span></h4>
                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q13_yes"><input type="radio" name="q13" value="Yes"
                                                            class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q13_yes">
                                    <span data-i18n="somos-yes">loading...</span></label>
                            </label>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q13_no"><input type="radio" name="q13" value="No"
                                                           class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q13_no">
                                    <span data-i18n="somos-no">loading...</span></label>
                            </label>

                            <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                                <label for="q13_unknown"><input type="radio" name="q13" value="Unknown"
                                                                class="g-xs-up g-pos-abs g-top-0 g-left-0"
                                                                id="q13_unknown">
                                    <span data-i18n="somos-unknown">loading...</span></label>
                            </label>
                        </div>
                    </div>

                    <div class="g-mb-20" id="q14">
                        <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-9-i">loading...</span>
                        </h4>
                        <h4 class="h6 g-font-weight-700 g-mb-20 text-muted"><span
                                data-i18n="covid-screening-9-ii">loading...</span></h4>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q14_yes"><input type="radio" name="q14" value="Yes"
                                                        class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q14_yes">
                                <span data-i18n="somos-yes">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q14_no"><input type="radio" name="q14" value="No"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q14_no">
                                <span data-i18n="somos-no">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q14_unknown"><input type="radio" name="q14" value="Unknown"
                                                            class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q14_unknown">
                                <span data-i18n="somos-unknown">loading...</span></label>
                        </label>
                    </div>
                    <hr>
                    <div class="g-mb-20" id="q15">
                        <h4 class="h6 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-consent-i">loading...</span>
                        </h4>
                        <h4 class="h5 g-font-weight-700 g-mb-20"><span
                                data-i18n="covid-screening-consent-ii">loading...</span>
                        </h4>
                        <h4 class="h6 g-font-weight-700 g-mb-20"><span
                                data-i18n="[html]covid-screening-consent-iii">I have been provided and have read the Fact Sheet (Fact Sheet can be <a
                                href="https://www.modernatx.com/covid19vaccine-eua/">found here</a>) for Recipients and CareGivers: Emergency Authorization (EUA) of the Moderna COVID-19 Vaccine Prevention Coronavirus Disease 2019 (COVID-19) in Individuals 18 YEARS of Age and Older .  I understand that if this vaccine requires two doses, two doses of this vaccine will need  to be administered (given) to me in order for it to be effective. I have been given an opportunity to ask questions which were answered to my satisfaction. I understand the benefits and risks of the vaccination as described.</span>
                        </h4>
                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q15_yes"><input type="radio" name="q15" value="Yes"
                                                        class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q15_yes">
                                <span data-i18n="covid-screening-accept">loading...</span></label>
                        </label>

                        <label class="form-check-inline u-check g-pl-25 ml-0 g-mr-25">
                            <label for="q15_no"><input type="radio" name="q15" value="No"
                                                       class="g-xs-up g-pos-abs g-top-0 g-left-0" id="q15_no">
                                <span data-i18n="covid-screening-decline">loading...</span></label>
                        </label>

                    </div>

                    <button class="btn btn-block btn-success g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-15"
                            type="submit"><i class="fa fa-fw fa-check-circle-o"></i><span
                            data-i18n="somos-submit">Submit</span></button>
                </form>
                <!-- End Login Form -->


            </div>

        </div>
    </div>
    <!-- Login -->


</main>
<!-- End Content -->


