{% extends '../shared/navigation.html' %}
{% load static %}
{% block css %}
<style>
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
{% endblock %}
{% block body %}
    <main>
      <!-- Listing - Carousel Image -->
      <div class="g-pos-rel">

      <!-- Breadcrumbs -->
      <div class="container g-pt-50 g-pb-80">
        <h1 class="h2 mb-0">Test Patient - COVID Testing Results</h1>
      </div>
      <!-- End Breadcrumbs -->

      <!-- Listing - Main Info -->
      <div class="container">
        <div class="row">

          <div class="col-md-4 g-mb-30">
            <!-- Listing - Agents -->
            <div class="u-shadow-v11 text-center">
              <div class="g-bg-white g-pa-20">
                <div class="g-width-240 g-height-240">
                  <img class="img-fluid g-brd-around g-brd-3 g-brd-gray-light-v3 rounded-circle" src="{% static 'images/ecl.jfif' %}" alt="Image Description">
                </div>
              </div>
            </div>
            <!-- End Listing - Agents -->
          </div>
          <div class="col-md-8 g-mb-30">
            <div class="row">
              <!-- Listing - List of Details -->
              <ul class="col-md-6 list-unstyled g-font-weight-600 mb-0">
                <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
                  <span class="g-color-text g-font-size-12">Testing Status:</span>
                  <span class="float-right g-color-black">Processing</span>
                </li>
                <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
                  <span class="g-color-text g-font-size-12">Testing Result:</span>
                  <span class="float-right g-color-red">Negative</span>
                </li>
                <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
                  <span class="g-color-text g-font-size-12">Test Processed On:</span>
                  <span class="float-right g-color-black">05/29/2020</span>
                </li>
                <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
                  <span class="g-color-text g-font-size-12">Testing Center:</span>
                  <span class="float-right g-color-black">Empire City Laboratory</span>
                </li>
              </ul>
              <!-- End Listing - List of Details -->

              <!-- Listing - List of Details -->
              <ul class="col-md-6 list-unstyled g-font-weight-600 mb-0">
                <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
                  <span class="g-color-text g-font-size-12">Patient ID:</span>
                  <span class="float-right g-color-black">10019572834</span>
                </li>
                <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
                  <span class="g-color-text g-font-size-12">Name:</span>
                  <span class="float-right g-color-black">Test Patient</span>
                </li>
                <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
                  <span class="g-color-text g-font-size-12">DOB:</span>
                  <span class="float-right g-color-black">05/25/1995</span>
                </li>
                <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
                  <span class="g-color-text g-font-size-12">Age:</span>
                  <span class="float-right g-color-black">25</span>
                </li>
                <li class="g-brd-bottom--dashed g-brd-gray-light-v3 pt-1 mb-3">
                  <span class="g-color-text g-font-size-12">Mobile Number:</span>
                  <span class="float-right g-color-black">(321) 654 9876</span>
                </li>
              </ul>
              <!-- End Listing - List of Details -->
            </div>

          </div>
        </div>
          </div>
        </div>
        <!-- End Listing - Additional Info -->
      </div>
      <!-- End Listing - Main Info -->

      <!-- Listing - More Info -->
      <div class="container g-pt-100">
        <div class="row justify-content-center">
          <div class="col-lg-9 g-mb-70">
            <!-- Listing - Description -->
            <div class="g-brd-bottom g-brd-gray-light-v3 g-pb-30">
                  <div class="row">
                    <div class="col-md-2 g-mb-30">
                      <h3 class="h6 g-font-weight-600 text-uppercase mb-0">Test Results</h3>
                    </div>

                    <div class="col-md-10 g-mb-30">
                      <h3 class="h6 g-font-weight-600 mb-4">COVID-19 Antigen Assay</h3>

                      <!-- Table Bordered -->
                      <div class="table-responsive g-mb-30">
                        <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>IgG</th>
                              <td>42 mol</td>
                            </tr>
                            <tr>
                              <th>IgM</th>
                              <td>42 mol</td>
                            </tr>
                            <tr>
                              <th>Total Antibody</th>
                              <td>42 mol</td>
                            </tr>
                            <tr>
                              <th>Spike Glycoprotein (S)</th>
                              <td>42 mol</td>
                            </tr>
                            <tr>
                              <th>Nucleocapsid Phosphoprotein (N)</th>
                              <td>42 mol</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- End Table Bordered -->

                      <!-- End Table Bordered -->
                    </div>
                  </div>
                </div>
                <!-- End Listing - Property History -->
              </div>
            </div>
            <!-- End Listing - Description -->
      </div>
    </main>

{% endblock %}

{% block js %}
<script >
  /*global $*/
  $(document).on('ready', function () {
        $.HSCore.components.HSDatepicker.init('#week-of-datepicker');
      });
</script>
{% endblock %}