{% extends '../shared/navigation.html' %}

{% load static %}
{% block css %}
<style>
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
{#.appointment-slot{background-color: yellow; width: 100%; height: 30px; display: flex; justify-content: center; align-items: center; margin-top: 5px}#}
{#.appointment-slot-closed{background-color: grey; width: 100%; height: 30px; display: flex; justify-content: center; align-items: center; margin-top: 10px}#}

</style>
{% endblock %}

{% block body %}
  <body>
    <!-- Content -->
    <main style="min-height: 1000px">
      <!-- Breadcrumbs & Search -->
      <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero" style="background-image: url({% static 'unify/img/bg/map-sketch.jpg' %});">
        <div class="g-pos-rel g-z-index-1">
          <!-- Breadcrumbs -->
          <div class="container-fluid g-py-50">
            <h1 class="h2 mb-0" data-i18n="covid-find-site">Find the closest sites for COVID-19 Vaccination</h1>
            <h5 class="mb-0 text-muted"><span id="elegibility"></span></h5>
          </div>
          <!-- End Breadcrumbs -->
        </div>
      </div>
      <!-- Promo Block -->
      <div class="g-bg-cover {# g-bg-pos-top-center #} g-bg-img-hero g-bg-cover {# g-bg-black-opacity-0_5--after #} g-py-120 bg-corona">
        <div class="container g-pos-rel g-z-index-1">

          <!-- Input Group -->
          <form>
            <div class="row justify-content-center g-mx-5--md">
              <div class="col-sm-9 col-lg-7 g-px-0--sm g-mb-30">
                <input id="txtZipcode" class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text" placeholder="Search by Zip Code, City or Address" />
              </div>

              <div class="col-sm-3 col-lg-2 g-px-0--sm g-mb-30">
                <button id="searchSubmit" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" type="submit" data-i18n="somos-search">
                  Search
                </button>
              </div>
            </div>
          </form>
          <!-- End Input Group -->
        </div>
      </div>
      <!-- End Breadcrumbs & Search -->
      <div class="container-fluid" style="width: 100%; padding-top: 50px">
        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-6 g-mb-30" style="display: flex">
{#            <input id="week-of-datepicker" value="{{ BookingDay }}" placeholder="Select Week Of" class="form-control form-control-md u-datepicker-v1 rounded-0" type="text" style="width: 200px" >#}
{#            <button onclick="getCovidTestingSite()" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-10 g-py-10" type="submit" style="width: 100px">#}
{#              Search#}
{#            </button>#}
              <h5 id="result-text"></h5> &nbsp;&nbsp;&nbsp;<a style=" border: 1px solid #dddddd; padding: 5px;" class="h6 g-font-weight-700 g-mb-20 g-brd-gray-light-v2 g-brd-primary-dark-v1--hover g-color-gray-dark-v5 g-color-white--hover g-bg-primary-dark-v1--hover"
                                                              href="/p/subscribe/?qid={{ qid }}">Notify me while vaccine is available</a>
          </div>
          <div class="col-sm-4 col-lg-3 g-mb-30">
            <button onclick="changeSlotDate(-5)" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-10 g-py-10" data-i18n= "somos-previous-5-days" type="submit">
              Previous 5 Days
            </button>
          </div>
          <div class="col-sm-4 col-lg-3 g-mb-30">
            <button onclick="changeSlotDate(5)" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-10 g-py-10" data-i18n= "somos-next-5-days" type="submit">
              Next 5 Days
            </button>
          </div>
          
        </div>

        </div>
      </div>

     {% if ValidQidCode > 0 %}
        <script type="text/javascript">
            alert("Please start with a valid 'Vaccine Qualification' ");
            window.location.href='/p/covid/';
        </script>
     {% endif %}

     <div class="container-fluid" id="divContent">
         <h3><i class="fa fa-spin fa-fw fa-spinner"></i>Loading</h3>
{#     {% for i in '485'|make_list %}#}
{#        <div class="row" style="margin-left:10px; margin-right: 10px; margin-top:10px; margin-bottom: 50px;">#}
{#          <div class="col-lg-3 col-md-3 col-sm-12 g-bg-img-hero g-min-height-50" style="background-image: url(https://via.placeholder.com/400);">#}
{#          </div>#}
{#          <div class="col-lg-9 col-md-9 col-sm-12 g-brd-around g-brd-top-around g-brd-gray-light-v3 g-bg-white">#}
{#            <div class="row" style="height: 100%">#}
{#              <div class="col-lg-4 col-md-4 col-sm-12" style="padding: 25px !important">#}
{#                <p>COVID Test Center 24</p>#}
{#                <p>(718) 343-1933</p>#}
{#                <p>41-07 76th St. - Elmhurst, NY - 11373</p>#}
{#                <p>Mon-Fri, 9A-9P</p>#}
{#                <b>0.2mi away</b>#}
{#              </div>#}
{#              <div class="col-lg-8 col-md-8 col-sm-12" style="background-color: white; padding-left: 0px; display: flex; justify-content: center">#}
{#                {% for i in '45678'|make_list %}#}
{#                <div class="col-2" style="background-color: white; margin-left:5px; margin-right: 5px; width: 14%; text-align: center">#}
{#                      <h6 style="margin-top: 18px;">Mon, May {{i}}th</h6>#}
{#                  <div class="row" style="overflow-y: scroll; height: 245px; margin-bottom: 18px;">#}
{##}
{#                    <button onclick="gotoRegistry('05/04/2020 08:00 am')" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0" style="margin:5px;">#}
{#                      8:00 am#}
{#                    </button>#}
{#                    <button onclick="gotoRegistry('05/04/2020 08:30 am')" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0" style="margin:5px;">#}
{#                      8:30 am#}
{#                    </button>#}
{#                    <button onclick="gotoRegistry('05/04/2020 09:00 am')" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0" style="margin:5px;">#}
{#                      9:00 am#}
{#                    </button>#}
{#                    <button onclick="gotoRegistry('05/04/2020 09:30 am')" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0" style="margin:5px;">#}
{#                      9:30 am#}
{#                    </button>#}
{#                    <button onclick="gotoRegistry('05/04/2020 10:00 am')" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0" style="margin:5px;">#}
{#                      10:00 am#}
{#                    </button>#}
{#                    <button onclick="gotoRegistry('05/04/2020 10:30 am')" class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0" style="margin:5px;">#}
{#                      10:30 am#}
{#                    </button>#}
{##}
{#                  </div>#}
{#                </div>#}
{#                {% endfor %}#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          </div>#}
{#     {% endfor %}#}
     </div>
      <!-- List View -->
    <input type="hidden" id="week-of-datepicker" value="{{ BookingDay }}"/>
    </main>
    <!-- End Content -->

{% endblock %}

{% block i18n_promise %}
    $("#txtZipcode").attr("placeholder", $.i18n("somos-search-by"));
{% endblock %}

{% block js %}
<script type="text/javascript">
  /*global $*/
  $(document).on('ready', function () {
        $.HSCore.components.HSDatepicker.init('#week-of-datepicker', { dateFormat: 'mm/dd/yy'});
        $("#searchSubmit").on("click", function(e){
            e.preventDefault();
            getCovidTestingSite();
        });
      });


  function getCovidTestingSite(step){
      var day = $('#week-of-datepicker').val();
      var zipcode = $('#txtZipcode').val();
      var url = '/p/sites/?action=getSiteWithSlot&zipcode=' + zipcode + '&day=' + day;
      if(typeof(step) == 'undefined'){
          step = 0
      }
      url += '&step=' + step;
      $.post(url, function (res) {
          $('#divContent').html(res.Content);
          $('#week-of-datepicker').val(res.BookingDay);

          let loaded = window.localStorage.getItem("loaded");
          let result_text = "Showing " + res.Count + " locations" + " near " +  "'" + res.GAddr + "'";
          if(res.Count == 0){
              result_text = "We apologize for the inconvenience, there is no available time slots at this time (" + res.BookingDay +"). Please check back later, <a style='color:red' href='/p/signup/'>or create an account for the lastest updates.</a>"
          }
          if (!loaded) {
              result_text = "Showing " + res.Count + " locations";
              window.localStorage.setItem("loaded", true)
          }
          $("#result-text").html(result_text)
      })
  }

  function selectSlot(empid, olid, bookTime) {
      var qid = '{{ qid }}';
      var fmdata = {'EmpID': empid, 'Olid': olid, 'BookTime': bookTime};
      var url = '/p/sites/?action=setSelectedSlot&qid=' + qid;
      if(qid == ''){
          alert("You haven't submitted a valid questionnaire, so you are not able to continue your operation!");
          return;
      }
      MG.Modal.showLoading();
      $.post(url, fmdata, function (res) {
          if(res.ResultCode > 0){
              MG.Modal.hideLoading();
              getCovidTestingSite();
              let modal = $("#error-modal").modal()
              modal.find(".modal-title").html($.i18n(res.Errors[0]));
              modal.find(".modal-message").html($.i18n(res.Errors[1]));
          }else{
              window.location.href = '/p/register/?qid={{ qid }}'
          }
      }, 'json');
      let countdownfromdate = Date.now()
      sessionStorage.setItem('countdownfromdate', countdownfromdate)
  }

  function gotoRegistry(DT) {
      //window.location.href = '/p/register/?qid={{ qid }}'
  }

  getCovidTestingSite();

  function changeSlotDate(step) {
     getCovidTestingSite(step)
  }

</script>
{% endblock %}