{% extends '../shared/navigation.html' %}

{% block css %}

{% endblock %}


{% block body %}
    <body>
    <main>
        <!-- Content -->
        <div class="bg-corona g-py-100">
            <div class="g-max-width-645 text-center mx-auto">

                <h1 class="g-color-white g-font-weight-600">Register below to stay updated on the COVID-19 vaccine and
                    vaccine availability.</h1>

            </div>
        </div>
        <div class="container g-pb-30 g-mt-10">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-6">
                    {% include './subscribe_form.html' %}
                </div>
            </div>
        </div>
    </main>
    </body>
    {% include './subscribe_form_js.html' %}
{% endblock %}
